<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= properName %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

		<meta name="theme-color" content="#<%= color %>">

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,800,300' rel='stylesheet' type='text/css'>

        {{content-for "head"}}

        <link rel="stylesheet" href="assets/vendor.css">
        <link rel="stylesheet" href="assets/<%= shortcode %>.css">

        {{content-for "head-footer"}}
    </head>
    <body>
        <div class="ember-load-indicator">
            <div class="col-md-1 col-sm-2 col-xs-4">
                <img class="img-responsive" src="assets/images/logo.png" alt="<%= properName %> Logo" />
            </div>
            <div class="col-md-1 col-sm-2 col-xs-4">
                <div class="sk-fading-circle">
                    <div class="sk-circle1 sk-circle"></div>
                    <div class="sk-circle2 sk-circle"></div>
                    <div class="sk-circle3 sk-circle"></div>
                    <div class="sk-circle4 sk-circle"></div>
                    <div class="sk-circle5 sk-circle"></div>
                    <div class="sk-circle6 sk-circle"></div>
                    <div class="sk-circle7 sk-circle"></div>
                    <div class="sk-circle8 sk-circle"></div>
                    <div class="sk-circle9 sk-circle"></div>
                    <div class="sk-circle10 sk-circle"></div>
                    <div class="sk-circle11 sk-circle"></div>
                    <div class="sk-circle12 sk-circle"></div>
                </div>
            </div>
        </div>

        {{content-for "body"}}

        <script src="assets/vendor.js"></script>
        <script src="assets/<%= shortcode %>.js"></script>

        {{content-for "body-footer"}}
    </body>
</html>
