<EmberLoadRemover />
<FwNotifications @outlet="global" />
<FwNotifications @outlet="fixed" />

<div class="fw-sticky-header">
    <FwHeader @showAboutLink={{true}} />
    <FwGcNav>
        <li><LinkTo @route="index">Main</LinkTo></li>
        <FwDropdown @label="Help" @tagName="li" @toggleTag="a" @right={{true}}>
            <a target='_blank' href='https://library.olivet.edu/help/website_key.php?app=<%= linkName %>'>Icons Key</a>
            <FwAppLink @title="Known Issues" @appId="issue" @route="bugs.<%= shortcode %>" />
            <FwIssueLink @fallback="http://library.olivet.edu/forms/email/index.php">Report an Issue</FwIssueLink>
            <FwAppLink @title="Version History" @appId="issue" @route="history.version.<%= shortcode %>" />
        </FwDropdown>
    </FwGcNav>
</div>

<main class="container fw-container">
    <div class="row">
        {{outlet}}
    </div>
</main>

{{#if showLoginModal}}
    <FwFullscreenModal @modal="re-login" @size="md" @close={{action "closeLoginModal"}} @model={{hash attemptedTransition=attemptedTransition}} />
{{/if}}
