<div class="col-sm-12 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
    <div class="panel panel-default">
        <header class="panel-heading">
            <strong class="panel-title">GC Kit Starter Application</strong>
        </header>
        <section class="panel-body">
            <p><strong>Congratulations!</strong></p>
            <p>If you are seeing this page, you have set up your development environment correctly!</p>
            <p><em>You should delete this template once you create your main page so the no permissions page properly shows!</em></p>
        </section>
    </div>
</div>
